// .theme-a {
//   background: #ddccaa;
//   color: #773311;
// }

// @media (prefers-color-scheme: dark) {
//   .theme-a.adaptive {
//     background: #775533;
//     color: #ddccbb;
//     outline: 5px dashed black;
//   }
// }

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: black;
  margin: 0;
}

a {
  text-decoration: none;
}

a:hover,
a:active {
  text-decoration: underline;
}

a:visited {
  color: inherit;
}

header {
  background-color: #000;
  color: white;
  font-size: 2rem;
  text-align: center;
  padding: 1rem;
  font-weight: bold;

  margin-bottom: 2rem;
}

main {
  width: 100%;
  padding: 0 1rem;
}

main > article {
  overflow: hidden;
  background-color: white;
  padding: 0.5rem;
  border: 4px solid black;
}

main > article + article {
  margin-top: 1rem;
}

main > article h2 {
  margin-top: 0;
}

main > article > img {
  border-radius: 5px;
  max-width: 100%;
  aspect-ratio: 1 / 0.5;
  object-fit: cover;
}

.container {
  max-width: 1024px;
  margin: 0 auto;
}
