<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ title }}</title>
    {% for style in styles %}
    <link rel="stylesheet" href="{{style}}" />
    {% endfor %}
  </head>
  <body>
    {% include "header.html" %}
    <main class="container">{% block body %}{% endblock %}</main>
    {% for script in scripts %}
    <script type="module" src="{{ script }}"></script>
    {% endfor %}
  </body>
</html>
